                <div class="headofcourse">DASHBOARD</div>
                
                <ul>
                <li><a href="/users/<%=current_user.id%>/profile" title="Profile">Profile</a></li>
                <li><a href="/inbox" title="Inbox">Inbox</a></li>
                <li><a href="/student/academic_profile" title="Inbox">Settings</a></li>

                </ul>
