
<div id="user_options">
    <div class="button-box">
      <a href="/student/users" class="option_buttons" id="users_button" nicetitle="Users"><div class="button-label"><p>Users</p></div></a>
    </div>
    <div class="button-box">
      <a href="/calendar" class="option_buttons" id="calendar_button" nicetitle="Calendar"><div class="button-label"><p>Calendar</p></div></a>
    </div>
    <div class="button-box">
      <a href="/student/settings" class="option_buttons" id="settings_button" nicetitle="Settings."><div class="button-label"><p>Settings</p></div></a>
    </div>
    <div class="button-box">
      <a href="/student/reports" class="option_buttons" id="reports_button" nicetitle="Reports"><div class="button-label"><p>Reports</p></div></a>
    </div>
    <div class="button-box">
      <a href="/student/announcements" class="option_buttons" id="announcements_button" nicetitle="Announcements."><div class="button-label"><p>Announcements</p></div></a>
    </div>
    <div class="button-box">
      <a href="/student/courses" class="option_buttons" id="courses_button" nicetitle="Courses."><div class="button-label"><p>Courses</p></div></a>
    </div>
    <div class="button-box">
      <a href="<%=get_department_link_for_user%>" class="option_buttons" id="departments_button" nicetitle="Departments"><div class="button-label"><p>My Department</p></div></a>
    </div>
</div>

