
<% content_for :left_bar do %>
<div class="headofcourse"><a href="/departments/<%=@department.id.to_s%>" ><%=@department.name %></a></div>
   <ul>
   <li><%= link_to "All Programs", '/departments/'+@department.id.to_s+'/programs' %></li>
   <li><a href="#about">All Courses</a></li>
   </ul>
<% end -%>
