<% content_for :right_bar do -%>
  
    <p>Quick Links</p>
    <ul>
    <li><a href="#about">New Announcement</a></li>
    <li><%= link_to "Add Program ", '/departments/'+@department.id.to_s+'/programs/new' %></li>
    </ul>
<% end -%>
