  
            <div class="hero-unit">
              <p>Quick Links</p>

              <div class="clearfix"></div>
              <div id="bold-box-big">
                <a href="#about">New Announcement</a>
              </div>
              <div class="clearfix"></div>
              <div id="bold-box-big">
                <a href="/departments/new">Add Department</a>
              </div>
              <div class="clearfix"></div>
              <div id="bold-box-big">
                 <%= link_to "Add Teachers", '/admin/teachers/new' %>
              </div>
              <div class="clearfix"></div>
              <div id="bold-box-big">
                 <%= link_to "Add Student", '/admin/students/new' %>
              </div>
              <div class="clearfix"></div>
            </div>
