<h2>All events</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <th>Starts at</th>
    <th>Ends at</th>
  </tr>
  </thead>

  <tbody>
<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.title,"/calendar/events/" + event.id.to_s + "/edit"  %></td>
    <td><%= time_ago_in_words(event.starts_at) %></td>
    <td><%= distance_of_time_in_words(event.ends_at,event.starts_at) %> after start</td>
  </tr>

<% end %>
  </tbody>
</table>
