  
            <div class="hero-unit">
              <p>Quick Links</p>

              <div class="clearfix"></div>
              <div id="bold-box-big">
                <a href="/calendar/events/new">Add an Event</a>
              </div>
              <div class="clearfix"></div>
            </div>
