<h3> Enter the details for the student</h3>
<h4> Fields marked with * are compulsory</h4>
<%= render :template => "shared/student_form" %>
<%= link_to "Add Students in bulk", '/admin/students/bulk/new' %>
