                <div class="headofcourse">DASHBOARD</div>
                
                <ul>
                <li><a href="#" title="Profile">Profile</a></li>
                <li><a href="#" title="Account Settings">Account Settings</a></li>
                </ul>
