            <p> Quick Links </p>
            <ul>
              <li><a href="#" title="Add an Announcement">New Announcement</a></li>
            	<li><a href="/departments/new">New Department</a></a></li>
              <li><%= link_to "Add Teachers", '/admin/teachers/new' %></li>
              <li> <%= link_to "Add Student", '/admin/students/new' %> </li>
            </ul>

