<% content_for :left_bar do -%>
  <%= render 'left_bar' %>
<% end -%>
<% content_for :top_bar do -%>
  <%= render :template => 'shared/top_bar' %>
<% end -%>
<% content_for :right_bar do -%>
  <%= render 'right_bar' %>
<% end -%>
<% content_for :main_content do -%>
   
<% content_for :task_status_check_javascript do -%>
<script type="text/javascript">
$(document).ready(function(){
  $.read(
  '/tasks/BULK_MESSAGE',
  function(response) {
    if(response != null && response.length > 0) {
      html_message = '<h3> There are already tasks queued for creating users by you </h3>';
      for(var i = 0;i<response.length;i++) {
        var alert_class = '';
        if(response[i].task.execution_status == 'SUCCESS') {
          alert_class = 'alert alert-success';
        } else if(response[i].task.execution_status == 'PENDING'){
          alert_class = 'alert alert-info';
        } else {
          alert_class = 'alert alert-error';
        }

        html_message += '<div class="'+ alert_class +'">';
        html_message += '<a href="/admin/tasks/'+ response[i].task.id + '"> Click here for more details of this task </a>'
        html_message += '</div>';
      }
      $('#task-status').html(html_message);
    }
  }
  );
});
</script>
  
<% end -%>

  <div id="task-status">
  </div>
   <%= render :template => "shared/connect_form" %>
<% end -%>
<% content_for :breadcrumb do -%>
  <li class="active">
   <span class="divider">/</span>
   <i class="icon-user"></i>
   Connect with Students
  </li>

  <% end -%>
