<% content_for :left_bar do -%>
  <%= render 'left_bar' %>
<% end -%>
<% content_for :top_bar do -%>
  <%= render :template => "shared/top_bar" %>
<% end -%>
<% content_for :right_bar do -%>
  <%= render 'right_bar' %>
<% end -%>
<% content_for :main_content do -%>
  <h3> Please select the faculty to manage his/her settings</h3>

  <%= render :template => "shared/manage_users" ,:locals => {:users => @users} %>

<% end -%>
