<% content_for :main_content do -%>
<% if @course.bbb.nil? %>
  <h3>There is no channel running for this course</h3>
  <% if !(get_user_type == 'STUDENT') %>
    <%= link_to "Create a live channel for this course", '/courses/'+@course.id.to_s+'/channel/new' %>
  <% else %>
   <p> Please consult your instructor to create a live channel for this course </p> 
  <% end %>

<% else %>
  <% if @course.bbb.status == 'CREATING' %>
    <div id="channel_creation">
      <h3>The live channel for this course is being prepared.The page would refresh automaticaly when the channel is ready</h3>
    </div>
    
  <% else %>

    <h3>There is a channel running for this course</h3>
    <iframe width="100%" height="1000px" src="<%=join_channel(@course.bbb)%>"></iframe>
  <% end %>

<% end %>
<script type="text/javascript">
  $(document).ready(function() {
    if($("#channel_creation").length !=0) {
      setTimeout(reloadPage,2000);
    }
    function reloadPage() {
     location.reload(); 
    }
  });
</script>
  
<% end -%>
