<% content_for :refresh_file_link do -%>
<% end -%>
<% content_for :embed_file_index do %>
<div id = "file-index">
<% @course.appfiles.each do |appfile| %>
  <p>
    <%= render :template => "shared/appfile_link",:locals => {:appfile => appfile} %>
  </p>
<% end %>
</div>
<%= link_to "Create file", "/courses/"+@course.id.to_s+"/files/new" %>
<% end -%>

<% content_for :embed_scribd do -%>
  <div id='embedded_flash'>
  File Viewer
  </a></div>
<% end -%>

