
<% @course.course_announcements.reverse.each do |course_announcement| %>
    
   <div class="announce">
    <fieldset class="fieldset-style radius6">
      <legend class="legend-style"> <%= image_tag "announcement.png" %>  </legend>
      <h3><%= course_announcement.title  %></h3>
      <span><%= course_announcement.details  %></span>
    </fieldset>
   </div>
      
    

<% end %>
</br>
<%= link_to "Add announcement", "/courses/"+@course.id.to_s+"/announcements/new" %>

