<% if !(current_user.user_type == 'STUDENT') %>
<%= link_to "Add assignments", "/courses/"+@course.id.to_s+"/assignments/new",:class => 'btn btn-large' %>
<p>
  
<% end %>
</br>
<h2> All assignments </h2>
<table class="table table-striped">
<% @course.assignments.each do |assignment| %>
  <tr>
   <td>
     <%= link_to assignment.title, "/courses/"+@course.id.to_s+"/assignments/"+assignment.id.to_s %>
   </td>
   <td>
     <% if  current_user.user_type == 'STUDENT'%>
     <%= link_to 'Submit solution', "/courses/"+@course.id.to_s+"/assignments/"+assignment.id.to_s+"/solve",:class => 'btn' %>
     <% else %>
     <%= link_to 'Evaluate', "/courses/"+@course.id.to_s+"/assignments/"+assignment.id.to_s+"/evaluate",:class => 'btn' %>
     <% end %>
   </td>
   </tr>
<% end %>
</table>
