<% content_for :refresh_file_link do -%>
<% end -%>
<% content_for :embed_file_index do %>
<div id = "file-index">
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered data_table" style="width:100%">
<thead>
  <tr>
    <th> File </th>
    <th> Uploaded at </th>
  </tr>
</thead>
<tbody>
<% @course.appfiles.order(:updated_at).reverse.each do |appfile| %>
  <tr>
  <td>
    <%= render :template => "shared/appfile_link",:locals => {:appfile => appfile} %>
  </td>
  <td> <%= time_ago_in_words(appfile.updated_at)%> ago </td>
  </tr>
<% end %>
</tbody>
</table>
</div>
<%= link_to "Create file", "/courses/"+@course.id.to_s+"/files/new" %>
<% end -%>

<% content_for :embed_scribd do -%>
  <div id='embedded_flash'>
  File Viewer
  </a></div>
<% end -%>

