
<% @course.course_announcements.reverse.each do |course_announcement| %>
  <div id="bold-box-big">

    <b><%= course_announcement.title  %> </b>
      </br>
    </b><%= course_announcement.details  %> </b>
    
  </div>

<% end %>
</br>
<%= link_to "Add announcement", "/courses/"+@course.id.to_s+"/announcements/new" %>

