<% content_for :right_bar do -%>
            <p> Quick Links </p>
             <ul>
                <li><%= link_to "New Announcement", '/courses/'+@course.id.to_s+'/announcements/new' %></li>
                <li><%= link_to "New Assignment", '/courses/'+@course.id.to_s+'/assignments/new' %></li>
                <li><%= link_to "New File", '/courses/'+@course.id.to_s+'/files/new' %></li>
                <li><%= link_to "Assign instructor", '/courses/'+@course.id.to_s+'/assign/teacher' %></li>

             </ul>
<% end -%>
