<% content_for :left_bar do -%>
  <%= render 'left_bar'%>
<% end -%>
<% content_for :right_bar do -%>
  <%= render 'right_bar'%>
<% end -%>
<% content_for :top_bar do -%>
  <%= render :template => "shared/top_bar" %>
<% end -%>

<%= render 'channel_page' %>
<% content_for :breadcrumb do -%>
  <li class="active">
   <span class="divider">/</span>
   <i class="icon-facetime-video"></i>
   Channel
  </li>

  <% end -%>
