<% content_for :left_bar do %>
<div class="headofcourse"><a href="/programs/<%=@program.id.to_s%>" ><%=@program.branch %></a></div>
  <ul>
  <li><%= link_to "All Courses", '/programs/'+@program.id.to_s+'/courses' %><li>
  </ul>
<% end -%>
