
<li class="backbg"><a href="#" title="Create"><span>Create</span></a>
      <ul>
         <li><span><a href="/admin/students/new" class="headingsubmenu">Students</a></span></li>
         <li><span><a href="/admin/teachers/new" class="headingsubmenu">Teachers</a></span></li>
         <li><span><a href="/departments/new" class="headingsubmenu">Departments</a></span></li>
         <li><span><a href="/admin/programs/new" class="headingsubmenu">Programs</a></span></li>
         <li><span><a href="/admin/courses/new" class="headingsubmenu">Courses</a></span></li>
       </ul>
</li>
<li class="backbg"><a href="#" title="Manage"><span>Manage</span></a>
      <ul>
         <li><span><a href="/admin/manage/students" class="headingsubmenu">Students</a></span></li>
         <li><span><a href="/admin/manage/teachers" class="headingsubmenu">Teachers</a></span></li>
         <li><span><a href="/admin/manage/departments" class="headingsubmenu">Departments</a></span></li>
         <li><span><a href="/admin/manage/programs" class="headingsubmenu">Programs</a></span></li>
       </ul>
</li>

<li class="backbg"><a href="#" title="Connect"><span>Connect</span></a>
       <ul>
         <li><span><a href="/admin/ivrs/edit" class="headingsubmenu">IVRS</a></span></li>
         <li><span><a href="/admin/connect/students/new" class="headingsubmenu">Students</a></span></li>
         <li><span><a href="/admin/connect/teachers/new" class="headingsubmenu">Teachers</a></span></li>
         <li><span><a href="/admin/connect/departments/new" class="headingsubmenu">Departments</a></span></li>
       </ul>
</li>
<li class="backbg"><a href="#" title="Analyze"><span>Analyze</span></a>
       <ul>
         <li><span><a href="/admin/traffic" class="headingsubmenu">Website Traffic</a></span></li>
       </ul>
</li>
