
<li class="menu">
  <a href="#" class="menu">Create</a>
    <ul class="menu-dropdown" >
      <li><a href="/admin/students/new">Student</a></li>
      <li><a href="/admin/teachers/new">Teacher</a></li>
      <li><a href="/departments/new">Department/School</a></li>
      <li><a href="/admin/programs/new">Programs</a></li>
      <li><a href="/admin/initiatives/new">Events/Initiatives</a></li>
      <li><a href="/admin/communities/new">Communities</a></li>
    </ul>
</li>


<li class="menu">
  <a href="#" class="menu">Manage</a>
    <ul class="menu-dropdown" >
      <li><a href="/admin/manage/students">Students</a></li>
      <li><a href="/admin/manage/teachers">Teachers</a></li>
      <li><a href="/admin/manage/departments">Departments/Schools</a></li>
      <li><a href="/admin/manage/programs">Programs</a></li>
      <li><a href="/calendar">Events/Initiatives</a></li>
      <li><a href="/calendar">Communities</a></li>
    </ul>
</li>


<li class="menu">
  <a href="#" class="menu">Connect</a>
    <ul class="menu-dropdown" >
      <li><a href="/admin/connect/students">Student</a></li>
      <li><a href="/calendar">Teacher</a></li>
      <li><a href="/calendar">Departments</a></li>
      <li><a href="/calendar">Communities</a></li>
    </ul>
</li>


<li class="menu">
  <a href="#" class="menu">Analyze</a>
    <ul class="menu-dropdown" >
      <li><a href="/admin/traffic">Traffic</a></li>
      <li><a href="/calendar">Usage</a></li>
      <li><a href="/calendar">Reports</a></li>
    </ul>
</li>


