
<li class="backbg"><a href="#" title="Create"><span>Create</span></a>
      <ul>
         <li><span><a href="/home/students/new" class="headingsubmenu">Students</a></span></li>
         <li><span><a href="/home/teachers/new" class="headingsubmenu">Teachers</a></span></li>
         <li><span><a href="/home/departments/new" class="headingsubmenu">Departments</a></span></li>
         <li><span><a href="/home/programs/new" class="headingsubmenu">Programs</a></span></li>
       </ul>
</li>
<li class="backbg"><a href="#" title="Manage"><span>Manage</span></a>
      <ul>
         <li><span><a href="/home/manage/students" class="headingsubmenu">Students</a></span></li>
         <li><span><a href="/home/manage/teachers" class="headingsubmenu">Teachers</a></span></li>
         <li><span><a href="/home/manage/departments" class="headingsubmenu">Departments</a></span></li>
         <li><span><a href="/home/manage/programs" class="headingsubmenu">Programs</a></span></li>
         <li><span><a href="/home/manage/courses" class="headingsubmenu">Courses</a></span></li>
       </ul>
</li>

<li class="backbg"><a href="#" title="Connect"><span>Connect</span></a>
       <ul>
         <li><span><a href="/home/ivrs/edit" class="headingsubmenu">IVRS</a></span></li>
         <li><span><a href="/home/connect/students/new" class="headingsubmenu">Students</a></span></li>
         <li><span><a href="/home/connect/teachers/new" class="headingsubmenu">Teachers</a></span></li>
         <li><span><a href="/home/connect/departments" class="headingsubmenu">Departments</a></span></li>
       </ul>
</li>
<li class="backbg"><a href="#" title="Analyze"><span>Analyze</span></a>
       <ul>
         <li><span><a href="/home/traffic" class="headingsubmenu">Website Traffic</a></span></li>
       </ul>
</li>
