<h2> All courses </h2>
</br>
<table class="table table-striped">
<tbody>
<% for course in @courses -%>
  <tr><td>
    <%= link_to course.name, '/courses/'+course.id.to_s+'/home' %>
  </td></tr>
<% end -%>
</tbody>
</table>
