	        <% if get_user_type == 'STUDENT' %>
						<li class="backbg"><a href="#" title="Groups"><span>Groups</span></a>
                 <ul>
                    <li><span><a href="" class="headingsubmenu">Data Structures and Algorithms</a></span></li>
                    <li><span><a href="" class="headingsubmenu">Mathematics - I</a></span></li>
                    <li><span><a href="" class="headingsubmenu">All Courses</a></span></li>
                 </ul>
           </li>
	          
	        <% end %>  
