	        <% if get_user_type == 'STUDENT' %>
            <li class="menu">
                      <a href="#" class="menu">Groups</a>
                      <ul class="menu-dropdown">
                        <li><a href="#">Algorithms Groups</a></li>
                        <li class="divider"></li>
                        <li><a href="#">All Courses Group</a></li>
                      </ul>
            </li>  
	          
	        <% end %>  
