						<li class="backbg"><a href="#" title="Groups"><span>Groups</span></a>
              
                 <ul>
                  <% groups = get_course_groups_for_user %>
                  <% for group in groups -%>
                    <li><span><a href="/groups/<%=group.id%>" class="headingsubmenu"><%= group.group_name %></a></span></li>
                  <% end -%>
                 </ul>
           </li>
	          
