
  <% if  !flash[:alert].nil?%>
     <div class="alert alert-error">
      <a class="close">×</a>
        <font color="black">
          <%= flash[:alert] %>
        </font>
      </div>
  <% end %>
  <% if  !flash[:notice].nil?%>
     <div class="alert alert-success">
      <a class="close">×</a>
        <font color="black">
          <%= flash[:notice] %>
        </font>
      </div>
  <% end -%>
