
<li class="menu">
  <a href="#" class="menu">Create</a>
    <ul class="menu-dropdown" >
      <li><a href="/teacher/students/new">Student</a></li>
      <li><a href="/calendar/events/new">Events</a></li>
    </ul>
</li>


<li class="menu">
  <a href="#" class="menu">Manage</a>
    <ul class="menu-dropdown" >
      <li><a href="/teacher/manage/students">Students</a></li>
      <li><a href="/calendar">Events</a></li>
    </ul>
</li>


<li class="menu">
  <a href="#" class="menu">Connect</a>
    <ul class="menu-dropdown" >
      <li><a href="/teacher/connect/students/new">Student</a></li>
      <li><a href="/calendar">Departments</a></li>
    </ul>
</li>




