
<li class="backbg"><a href="#" title="Create"><span>Create</span></a>
    <ul >
         <li><span><a href="/home/students/new" class="headingsubmenu">Students</a></span></li>
         <li><span><a href="/calendar/events/new" class="headingsubmenu">Events</a></span></li>
    </ul>
</li>


<li class="backbg"><a href="#" title="Manage"><span>Manage</span></a>
    <ul >
      <li><span><a href="/home/manage/students" class="headingsubmenu">Students</a></span></li>
    </ul>
</li>


<li class="backbg"><a href="#" title="Connect"><span>Connect</span></a>
    <ul >
      <li><span><a href="/home/connect/students/new" class="headingsubmenu">Students</a></span></li>
    </ul>
</li>




