<% content_for :activity_stream_css do -%>
  <style type="text/css">
    .activity-stream {
      background-color: #F5F5F5;
      min-height: 800px;
      padding: 10px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      
    } 
  </style>  
<% end -%>
<div class="activity-stream">
  <h2>Loading your activity stream</h2>
</div>
