            <p> Quick Links </p>
            <ul>
              <% user_type = get_user_type %>
              <% if user_type == 'ADMIN' %>
            	  <li><a href="/home/departments/new">New Department</a></a></li>
                <li> <a href="#" class="add-teacher">Add Teacher</a></li>
              <% end %>
              <% if user_type == 'ADMIN' || user_type == 'TEACHER' %>
                <li> <a href="#" class="add-student">Add Student</a></li>
              <% end %>
            	<li><a href="/calendar/events/new">New Event</a></a></li>
            </ul>

            <% content_for :modal_dialog do -%>
            <div id="dialog-form-user" title="Create new user" style="display:none">
              <p class="validateTips">All form fields are required.</p>

              <form>
                <fieldset>
                <label for="name">Name</label>
                <input type="text" name="name" id="modal-username" class="text ui-widget-content ui-corner-all" />
                <label for="email">Email</label>
                <input type="text" name="email" id="modal-email" value="" class="text ui-widget-content ui-corner-all" />
                </fieldset>
            </form>
            </div>
            

              
            <% end -%>

