<% content_for :left_bar do -%>
  <%= render 'left_bar' %>
<% end -%>
<% content_for :top_bar do -%>
  <%= render :template => "shared/top_bar" %>
<% end -%>
<% content_for :right_bar do -%>
  <%= render 'right_bar' %>
<% end -%>
<% content_for :main_content do -%>
  <h3>Select a department to send messages </h3>
  <% for department in @departments -%>
    <%= link_to department.name, '/home/departments/'+department.id.to_s+'/connect/new' %> </br>
  <% end -%>
<% end -%>
<% content_for :breadcrumb do -%>
  <li class="active">
   <span class="divider">/</span>
   Connect with Department
  </li>

  <% end -%>
