                <div class="headofcourse">Library</div>
                
                <ul>
                <li><a href="/users/<%=current_user.id%>/profile" title="Profile">Profile</a></li>
                <li><a href="/inbox" title="Inbox">Favorites</a></li>

                </ul>
