          <div class="headofcourse"><%= link_to "INBOX", '/inbox' %></div>
          <ul>
           <li><%= link_to "Compose Message", '/inbox/compose' %></li>
           <li><%= link_to 'Sent Messages', '/inbox/sent' %></li>
          </ul>
