  
            <div class="hero-unit">
              <p>Quick Links</p>

              <div class="clearfix"></div>
              <div id="bold-box-big">
                 <%= link_to "Send message", '/users/'+@user.id.to_s+'/message/new' %>
              </div>
              <div class="clearfix"></div>
            </div>
