<%= render :template => "shared/notices" %>
<fieldset class='fieldset-style ui-corner-all'>
<legend class='legend-style'> User profile </legend>

<table class='table'>
<tr>
<td> Name </td>
<td> <%=  @user.username %> </td>
</tr>
<tr>
<td> Email </td>
<td> <%=  @user.email %> </td>
</tr>
<tr>
<td> Member Since </td>
<td> <%=  @user.created_at %> </td>
</tr>
</table>

</legend>
</fieldset>

