        
        <div class="headofcourse">DASHBOARD</div>
        <ul>
          <li><%= link_to "Group Home", '/groups/' + @group.id.to_s %></li>
          <li><%= link_to "People", '/groups/' + @group.id.to_s + '/people' %></li>
          <li><%= link_to "Collaborate", '/groups/' + @group.id.to_s + '/collaborate' %></li>
        </ul>
